@media (max-width: 768px){
    .menu__btn {
        display: block;
    }
    .header__menu-list-left {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        background-color: darkgray;
        
    }
    .header__menu-list-right{
        display: none;
        position: absolute;
        top: 260px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        background-color: darkgray;
    }
    .header__menu-itemleft{
    display: block;
    padding: 0;
    display:flex;
    flex-direction: column;
    }
    .header__menu-itemleft +.header__menu-itemleft {
    padding-left: 0;
    }
    .header__menu-itemright{
    display: block;
    padding: 0;
    display:flex;
    flex-direction: column;
    }
    .header__menu-itemright + .header__menu-itemright{
    padding-left: 0;
    }
    .header__menu-itemleft a{
    display: block;
    padding: 15px 0; 
    }
    .header__menu-itemright a{
    display: block;
    padding: 15px 0; 
    }
    .top__title {
        font-size: 70px;
    }
    .picture__inner {
        font-size: 50px;
    }
    .about__text{
        padding-left: 15px;
        padding-right: 15px;
    }  
}
@media (max-width: 320px){
    .top__title {
        font-size: 50px;
        text-align: center;
    }
    .picture__inner {
        font-size: 40px;
    } 
    .menu__items {
        margin: 0 5px;
    }
    .menu{
        text-align: left;
    }
    .menu__subtitle,
    .menu__title {
        text-align: center;

    }
    .menu__items-block {
        margin-bottom: 0;
    }
}
@media (max-width: 440px){
    .foote{
        justify-content: center;
    }.footer__contact{
       display: block;
    text-align: center;
    }  
}
@media (max-width: 646px){
    .foodimage__items{
    flex-wrap: wrap;
    }
    .foodimage__item + .foodimage__item {
        padding-left: 0;
        padding-top: 20px;
    }
}
@media (max-width: 1120px){
    .menu__items-block{
        justify-content: center;
        
    }
    .menu__items {
        margin: 0 5px;
    }
}
@media (min-width: 768px){
    .header__menu-list-left,
    .header__menu-list-right{
        display: block !important;
    }
}



